@using ProyectoSaberPro.Models
@{
    ViewBag.Title = "Login";
}
@ViewBag.Message
@model LoginViewModel

    <center>
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <from asp-controller="Home" asp-action="Index" method="post">
                            <h4>Iniciar Sesi&oacute;n</h4>
                            <hr />
                            <div class="form-group">
                                <icon type="submit" class="btn btn-dark">@Html.ActionLink("Administradores", "")</icon>
                            </div>
                            <div class="form-group">
                                <icon type="submit" class="btn btn-warning">@Html.ActionLink("Docente", "Login")</icon>
                            </div>
                            <div class="from-group">
                                <icon type="submit" class="btn btn-success">@Html.ActionLink("Estudiante","Login")</icon>
                            </div>
                        </from>
                    </section>
                    <label id="IndexMessage" class="has-error"></label>
                </div>
            </div>
        </div>
    </center>
<div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
