@model ProyectoSaberPro.Models.Docente

@{
    ViewBag.Title = "DeleteDocente";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
    <div class="margen">
        <h2>DeleteDocente</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Docente</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Correo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Correo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombres)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombres)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apellidos)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

            </dl>
                <div class="form-actions">
                    &nbsp; &nbsp; &nbsp;
                    <a href="@Url.Action("DeleteDocenteConfirmed", new { id = Model.ID })">
                        <i class="fa fa-trash"></i>
                    </a>
                    &nbsp; &nbsp; &nbsp;
                </div>
            @Html.ActionLink("Back to List", "Index", "Administrador", new { @class = "btn btn-primary" })
        </div>
    </div>
<style>
    .margen {
        margin: 15px 100px 5px 100px;
        text-align: justify;
    }

    .dl-horizontal {
        margin: 15px 0px 30px 0px;
    }

    .boton.alternativo {
        background-color: transparent;
        color: #810808;
        border: 2px solid #810808;
        border-radius: 6px;
        width: 90px;
        height: 34px
    }

        .boton.alternativo:hover {
            background-color: #810808;
            color: #FFFFFF;
            text-decoration: none;
        }
</style>
