@model ProyectoSaberPro.Models.Alumno

@{
    ViewBag.Title = "Detalles del alumno";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
    <div class="margen">
        <h2>Detalles del alumno</h2>

        <div>
            <h4>Alumno</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Correo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Correo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombres)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombres)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apellidos)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Semestre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Semestre)
                </dd>

            </dl>
        </div>
        <p>
            &nbsp;
            <a href="@Url.Action("EditAlumno", new { id = Model.ID })">
                <span class="alternativo">Editar</span>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="@Url.Action("IndexAlumno", new { id = Model.ID, @class = "btn btn-primary"})">
                <span class="boton">Back to List</span>
            </a>
        </p>
    </div>
<style>
    .boton, .alternativo {
        background-color: transparent;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        text-align: center;
        width: 80px;
        height: 34px;
        display: table-cell;
    }

    .boton {
        color: #FFFFFF;
        background-color: #357BB6;
        border: 1px solid #204D74;
    }

    .alternativo {
        color: #000000;
        border: 2px solid #000000;
    }

        .alternativo:hover {
            background-color: #000000;
            color: #FFFFFF;
            text-decoration: none;
        }

    .boton:hover {
        background-color: #286090;
        color: #FFFFFF;
        text-decoration: none;
    }

    .margen {
        margin: 15px 100px 5px 100px;
        text-align: justify;
    }
</style>
