@model ProyectoSaberPro.Models.Docente

@{
    ViewBag.Title = "Editar Docente";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
    <div class="margen">
        <h2>Editar docente</h2>

        @using (Html.BeginForm("EditDocente", "Administrador", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Docente</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="boton alternativo" />
                    </div>
                </div>
            </div>
        }

    <div>
        @Html.ActionLink("Back to List", "IndexDocentes", "Administrador", new { @class = "btn btn-primary" })
    </div>
    </div>
<style>
    .margen {
        margin: 15px 100px 5px 100px;
        text-align: justify;
    }

    .dl-horizontal {
        margin: 15px 0px 30px 0px;
    }

    .boton.alternativo {
        background-color: transparent;
        color: #000000;
        border: 2px solid #000000;
        border-radius: 6px;
        width: 90px;
        height: 34px
    }

        .boton.alternativo:hover {
            background-color: #000000;
            color: #FFFFFF;
            text-decoration: none;
        }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}